page-authentication {
  text-align: center;
  font-family: 'Circe', sans-serif;

  h1 {
    display: none;
    font-size: 1.5em;
  }

  .logo {
    max-width: 100%;
    margin-bottom: 2%;
  }

  .logo-hidden {
    padding-top: 5px;
  }

  .scroll-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    //padding-top: 20px;

    form {
      top: 5em;
      position: absolute;
      width: 80%;
      left: 10%;

      .footer {
        position: relative;
        width: 80%;
        margin: 0 auto;

        &__padding {
          padding: 5px;
        }

        &:before {
          display: none;
        }
      }
    }
  }

  .logo-hidden .scroll-content {
    display: block;
  }

  input[type="text"], input[type="tel"] {
    width: 100%;
    padding: 20px 0;
    margin: 0 0 20px 0;
    color: #202020;
    text-align: center;

    &::placeholder {
      color: #000;
    }
  }

  .login-input .text-input {
    border: 1px solid color($colors, border);
    border-radius: 30px;
  }

  .sticky-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .submit-button {

    height: 46px;
    width: 25%;
    /* padding: 20px 0; */
    text-transform: none;
    font-size: 23px;
    margin: 0 auto;
    background: $grafient-button;
    border-radius: 25px;

    .button-inner {
      font-weight: 400 !important;
    }
  }

}

.no-scroll .scroll-content {
  position: absolute;
  overflow: hidden;
  margin-bottom: 0 !important;
}
