page-place-choose {

  .header {
    background: #f8f8f8;
  }

  .content {
    background: #f8f8f8;
  }

  .header-ios .toolbar-ios:last-child .toolbar-background-ios {
    display: none;
  }

  .map-container {
    height: 100%;
  }

  .map-tab {
    height: 100%;
  }

  .place-choose__content {
    height: 100%;

    &_center {
      display: flex;
      justify-self: center;
      text-align: center;
      align-items: center;
      justify-content: center;
    }

    &_nothing {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
    }
  }

  .place {
    position: absolute;
    max-width: 180px;
    height: 100%;
    width: 100%;
    padding-top: 25px;
    text-align: center;

    &__logo {
      position: relative;
      top: 30%;
      left: 0;
      transform: translate(0%, -50%);
      border-radius: 50%;
      border: 1px solid color($colors, border);
      max-width: 80%;
      width: 50px;
      height: 50px;
    }

    &__button {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100% !important;
      color: white;
      min-width: 30px !important;
      margin: 0;
      background-color: #fcca31;
      border-color: #fcca31;
      display: flex;
      justify-content: center;
    }
  }

  .line {
    &__wrap {
      background: white;
    }
    &__row {
      display: flex;
      justify-content: space-between;
      min-height: 120px;
      max-height: 150px;
      overflow: hidden;
    }

    &__col {

      position: relative;

      &_1 {
        width: 20%;
      }

      &_2 {
        width: 80%;
        padding-left: 5px;

        p {
          white-space: nowrap;
          margin: 0;
        }
      }
    }
  }

  .list {
    width: 100%;
    margin: auto;
    min-width: 320px;
    padding: 0 5px;

    &__item {
      max-height: 150px;
      display: block;
      width: 500px;
      padding: 10px auto;
      border-bottom: 1px solid color($colors, border);
      max-width: 95%;
      margin: auto;
    }
  }

  .club {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 35px 0 10px 0;

    &__name {
      font-size: 20px;
      margin: 0;
      height: 30px;
      overflow: hidden;
      white-space: nowrap;
      //line-height: 16px;
      //-webkit-line-clamp: 2;
      //-webkit-box-orient: vertical;
      text-overflow: ellipsis;
      //display: block; /* Fallback for non-webkit */
      //display: -webkit-box;
      //max-width: 400px;
    }

    &__type {
      padding: 10px 0 0;
      font-weight: bold;
      font-size: 1.2em;
      margin: 0;
    }

    &__adress {
      font-size: 14px;
      padding: 5px 5px 5px 0;
      position: relative;
      max-height: 30px;
      text-overflow: ellipsis;
      overflow: hidden;

      .price_padding {
        padding-left: 7px;
      }
    }

    &__price {
      font-size: 14px;

      .price_padding {
        padding-left: 7px;
      }
    }
  }

  .navigate-icon {
    position: absolute;
    left: 0;

  }

  .nothing-found {
    font-size: 1.4em;
  }

  .distance {
    color: #d27774;
    font-size: 10px;
    margin: 0;
    margin: 0;
    font-weight: bold;
    padding-bottom: 25px;
    padding-left: 20px;
  }

  .tabs {
    display: flex;
    flex-flow: row wrap;

    &__item {
      width: 50%;
      text-align: center;
      position: relative;

      &:after {
        content: '';
        background: #d7d7d7;
        left: 0;
        width: 100%;
        height: 3px;
        position: absolute;
        bottom: -13px;
      }

      &.active {
        .tabs__list, .tabs__map {
          color: #3bc1b6;
        }

        &:after {
          background: $gradient-bg;
        }
      }
    }

    &__map {
      display: inline-block;
      position: relative;

    }

    &__list {

      display: inline-block;
      position: relative;
    }
  }
}
