page-main-sport-choose {

  .header-logo {
    padding: 5px;
    max-height: 40px;
  }

  .toolbar-background {
    border: none !important;
  }

  .main-page {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
  }
}
